@import '../mixin/mixin';


// Настройка стрелки
details[open] .arrow:before {
    transform: rotate(50deg);
}

details[open] .arrow:after {
    transform: rotate(135deg);
}

.arrow {
    display: inline-block;
    position: relative;
    width: 26px;
    height: 2px;
}

.arrow:before {
    content: '';
    width: 20px;
    height: 2px;
    background-color: #2F2F2F;;
    position: absolute;
    left: 39px;
    top: -10px;
    transform: rotate(-50deg);
}

.arrow::after {
    content: '';
    width: 20px;
    height: 2px;
    background-color: #2F2F2F;;
    position: absolute;
    right: -20px;
    top: -10px;
    transform: rotate(-135deg);
}

.arrow-location {
    display: flex;
    justify-content: right;
    padding-right: 40px;
    padding-bottom: -40px;
}



.workRintech {
display: flex;
padding-top: 15vh;
margin-bottom: 20vh;
@media screen and (max-width:980px) {
    padding-top: 20vh;
margin-bottom: 26vh;
flex-flow: column;
}

&__left {
    width: 45%;
    @media screen and (max-width:980px) {
        width: 90%;
        margin-bottom: 20vh;
    }
}

&__right {
    position: relative;
    width: 50%;
    @media screen and (max-width:980px) {
        width: 90%;
    }
}

&__title{
    padding-bottom: 2vh;
}

&__des {
    @include adaptiv-font(18,16);
}

&__logo-top {
position: absolute;
width: 23%;
top:-2vh;
right: 15vw;
animation: bluestripe2 0.5s ease-in-out;
@media screen and (min-width:2880px){
    width: 30%;
    top: 1vh;
    left: 17vw;
} 
@media screen and (max-width:2880px) and (max-height:1800px){
    width: 30%;
    top: 1vh;
    left: 17vw;
}
@media screen and (max-width:2880px) and (max-height:1080px){
    width: 30%;
    top: 1vh;
    left: 17vw;
}
@media screen and (max-width:2560px) and (max-height:1600px) {
    width: 30%;
    top: 1vh;
    left: 17vw;
}
@media screen and (max-width:2400px) and (max-height:1080px){
    width: 30%;
    top: 1vh;
    left: 17vw;
}
@media screen and (max-width:2304px) and (max-height:1440px){
    width: 30%;
    top: 2vh;
    left: 16vw;
}
@media screen and (max-width:2048px) and (max-height:1556px) {
    width: 30%;
    top: 1vh;
    left: 17vw;
}
@media screen and (max-width:1920px) and (max-height:1440px) {
    width: 30%;
    top: 1vh;
    left: 17vw;
}
@media screen and (max-width:1920px) and (max-height:1200px){
    width: 30%;
    top: 1vh;
    left: 17vw;
}
@media screen and (max-width:1920px) and (max-height:1080px) {
    width: 30%;
    top: 2vh;
    left: 17vw;
}
@media screen and (max-width:1680px) and (max-height:1050px){
    width: 30%;
    top: 2vh;
    left: 17vw;
}
@media screen and (max-width:1600px) and (max-height:1200px) {
    width: 30%;
    top: 1vh;
    left: 17vw;
}
@media screen and (max-width:1600px) and (max-height:900px) {
    width: 28%;
    top: 3vh;
    left: 19vw;
}
@media screen and (max-width:1440px) and (max-height:900px){
    width: 30%;
    top: 3vh;
    left: 19vw;
}
@media screen and (max-width:1368px) and (max-height:912px){
    width: 30%;
    top: 2vh;
    left: 17vw;
}
@media screen and (max-width:1366px) and (max-height:768px) {
    width: 28%;
    top: 2vh;
    left: 17vw;
}
@media screen and (max-width:1280px) and (max-height:1024px) {
    width: 30%;
    top: 1vh;
    left: 17vw;
}
@media screen and (max-width:1280px) and (max-height:800px){
    width: 30%;
    top: 2vh;
    left: 17vw;
}
@media screen and (max-width:1180px) and (max-height:820px){
    width: 30%;
    top: 1vh;
    left: 17vw;
}
@media screen and (max-width:1024px) and (max-height:768px){
    width: 30%;
    top: 1vh;
    left: 17vw;
}
@media screen and (max-width:1024px) and (max-height:600px){
    width: 30%;
    top: 3vh;
    left: 17vw;
}
  @media screen and (max-width:915px) and (max-height:412px){
    width: 17%;
    top: -10vh;
    left: 27vw;
}
@media screen and (max-width:914px) and (max-height:412px){
    width: 17%;
    top: -10vh;
    left: 27vw;
}
@media screen and (max-width:912px) and (max-height:1368px){
    width: 34%;
    top: -6vh;
    left: 17vw;
}
@media screen and (max-width:896px) and (max-height:414px){
    width: 17%;
    top: -10vh;
    left: 27vw;
}
@media screen and (max-width:851px) and (max-height:393px){
    width: 17%;
    top: -10vh;
    left: 27vw;
}
@media screen and (max-width:844px) and (max-height:390px){
    width: 17%;
    top: -10vh;
    left: 27vw;
}
@media screen and (max-width:820px) and (max-height:1180px){
    width: 34%;
    top: -6vh;
    left: 16vw;
}
@media screen and (max-width:768px) and (max-height:1024px){
    width: 32%;
    top: -8vh;
    left: 22vw;
}
@media screen and (max-width:740px) and (max-height:360px){
    width: 17%;
    top: -10vh;
    left: 27vw;
}
@media screen and (max-width:720px) and (max-height:540px){
    width: 23%;
    top: -8vh;
    left: 26vw;
}
@media screen and (max-width:667px) and (max-height:375px){
    width: 19%;
    top: -10vh;
    left: 27vw;
}
@media screen and (max-width:653px) and (max-height:280px){
    width: 15%;
    top: -8vh;
    left: 28vw;
}
@media screen and (max-width:540px) and (max-height:720px){
    width: 31%;
    top: -6vh;
    left: 20vw;
}
@media screen and (max-width:414px) and (max-height:896px){
    width: 41%;
    top: -7vh;
    left: 17vw;
}
@media screen and (max-width:412px) and (max-height:915px){
    width: 38%;
    top: -6vh;
    left: 18vw;
}
@media screen and (max-width:412px) and (max-height:914px){
    width: 38%;
    top: -6vh;
    left: 18vw;
}
@media screen and (max-width:393px) and (max-height:851px){
    width: 38%;
    top: -6vh;
    left: 18vw;
}
@media screen and (max-width:390px) and (max-height:844px){
    width: 38%;
    top: -6vh;
    left: 18vw;
}
@media screen and (max-width:360px) and (max-height:740px){
    width: 38%;
    top: -6vh;
    left: 18vw;
}   
@media screen and (max-width:375px) and (max-height:667px){
    width: 38%;
    top: -6vh;
    left: 18vw;
}
@media screen and (max-width:280px) and (max-height:653px){
    width: 38%;
    top: -6vh;
    left: 18vw;
}

}

&__logo-down {
position: absolute;
width: 30%;
top: -5vh;
left: 24vw;
animation: redstripe2 0.5s linear;
@media screen and (min-width:2880px){
    width: 37%;
    top: -1vh;
    left: 20vw;
} 
@media screen and (max-width:2880px) and (max-height:1800px){
    width: 37%;
    top: -1vh;
    left: 20vw;
}
@media screen and (max-width:2880px) and (max-height:1080px){
    width: 37%;
    top: -1vh;
    left: 20vw;
}
@media screen and (max-width:2560px) and (max-height:1600px) {
    width: 37%;
    top: 0vh;
    left: 20vw;
}
@media screen and (max-width:2400px) and (max-height:1080px){
    width: 37%;
    top: -1vh;
    left: 20vw;
}
@media screen and (max-width:2304px) and (max-height:1440px){
    width: 37%;
    top: 0vh;
    left: 20vw;
}
@media screen and (max-width:2048px) and (max-height:1556px) {
    width: 37%;
    top: -1vh;
    left: 21vw;
}
@media screen and (max-width:1920px) and (max-height:1440px) {
    width: 37%;
    top: -1vh;
    left: 22vw;
}
@media screen and (max-width:1920px) and (max-height:1200px){
    width: 37%;
    top: -1vh;
    left: 22vw;
}
@media screen and (max-width:1920px) and (max-height:1080px) {
    width: 36%;
    top: 0vh;
    left: 22vw;
}
@media screen and (max-width:1680px) and (max-height:1050px){
    width: 36%;
    top: 0vh;
    left: 22vw;
}
@media screen and (max-width:1600px) and (max-height:1200px) {
    width: 36%;
    top: 0vh;
    left: 22vw;
}
@media screen and (max-width:1600px) and (max-height:900px) {
    width: 36%;
    top: 0vh;
    left: 24vw;
}
@media screen and (max-width:1440px) and (max-height:900px){
    width: 36%;
    top: 1vh;
    left: 24vw;
}
@media screen and (max-width:1368px) and (max-height:912px){
    width: 36%;
    top: 0vh;
    left: 23vw;
}
@media screen and (max-width:1366px) and (max-height:768px) {
    width: 36%;
    top: 0vh;
    left: 21vw;
}

@media screen and (max-width:1280px) and (max-height:1024px) {
    width: 36%;
    top: 0vh;
    left: 22vw;
}
@media screen and (max-width:1280px) and (max-height:800px){
    width: 36%;
    top: 0vh;
    left: 22vw;
}
@media screen and (max-width:1180px) and (max-height:820px){
    width: 36%;
    top: 0vh;
    left: 22vw;
}
@media screen and (max-width:1024px) and (max-height:768px){
    width: 36%;
    top: 0vh;
    left: 22vw;
}
@media screen and (max-width:1024px) and (max-height:600px){
    width: 36%;
    top: 0vh;
    left: 22vw;

}
  @media screen and (max-width:915px) and (max-height:412px){
    width: 20%;
    top: -13vh;
    left: 32vw;
}
@media screen and (max-width:914px) and (max-height:412px){
    width: 20%;
    top: -13vh;
    left: 32vw;
}
@media screen and (max-width:912px) and (max-height:1368px){
    width: 42%;
    top: -8vh;
    left: 26vw;
}
@media screen and (max-width:896px) and (max-height:414px){
    width: 20%;
    top: -13vh;
    left: 32vw;
}
@media screen and (max-width:851px) and (max-height:393px){
    width: 20%;
    top: -13vh;
    left: 32vw;
}
@media screen and (max-width:844px) and (max-height:390px){
    width: 20%;
    top: -13vh;
    left: 32vw;
}
@media screen and (max-width:820px) and (max-height:1180px){
    width: 41%;
    top: -8vh;
    left: 26vw;
}
@media screen and (max-width:768px) and (max-height:1024px){
    width: 41%;
    top: -11vh;
    left: 31vw;
}
@media screen and (max-width:740px) and (max-height:360px){
    width: 20%;
    top: -13vh;
    left: 32vw;
}
@media screen and (max-width:720px) and (max-height:540px){
    width: 28%;
    top: -11vh;
    left: 33vw;
}
@media screen and (max-width:667px) and (max-height:375px){
    width: 24%;
    top: -14vh;
    left: 33vw;
}
@media screen and (max-width:653px) and (max-height:280px){
    width: 20%;
    top: -15vh;
    left: 33vw;
}
@media screen and (max-width:540px) and (max-height:720px){
    width: 40%;
    top: -9vh;
    left: 29vw;
}
@media screen and (max-width:414px) and (max-height:896px){
    width: 50%;
    top: -9vh;
    left: 29vw;
}
@media screen and (max-width:412px) and (max-height:915px){
    width: 48%;
    top: -8vh;
    left: 29vw;
}
@media screen and (max-width:412px) and (max-height:914px){
    width: 48%;
    top: -8vh;
    left: 29vw;
}
@media screen and (max-width:393px) and (max-height:851px){
    width: 48%;
    top: -8vh;
    left: 29vw;
}
@media screen and (max-width:390px) and (max-height:844px){
    width: 48%;
    top: -8vh;
    left: 29vw;
}
@media screen and (max-width:375px) and (max-height:667px){
    width: 48%;
    top: -8vh;
    left: 29vw;
}
@media screen and (max-width:360px) and (max-height:740px){
    width: 48%;
    top: -8vh;
    left: 29vw;
}   
@media screen and (max-width:280px) and (max-height:653px){
    width: 46%;
    top: -7vh;
    left: 29vw;
}
}
}

.vacancies-title {
    margin-bottom: 6vh;
    @media screen and (max-width:980px) {
        margin-bottom: 4.5vh;
    }
}

.vacanciesBlock {
margin-bottom: 7vh;
@media screen and (max-width:980px) {
    margin-bottom: 4vh;
}


&__des {
    margin-bottom: 2vh;
    width: 60%;
    @media screen and (max-width:980px) {
        width: 90%;
    }
}


&__ul {
    margin-bottom: 4vh; 
    @include adaptiv-font(26,18);
    font-weight: 500;
    width: 60%;
    margin-left: 2vw;
    @media screen and (max-width:1500px){
        margin-left: 3vw;
    }
    @media screen and (max-width:980px) {
        width: 90%;
    }
    @media screen and (max-width:900px){
        margin-left: 4vw;
    }
    @media screen and (max-width:600px){
        margin-left: 5vw;
    }
    @media screen and (max-width:450px){
        margin-left: 6vw;
    }
    @media screen and (max-width:450px){
        margin-left: 7vw;
    }
   
}

&__span-title {
    font-weight: 500;
}

&__li {
    margin-top: 2vh;
    padding-left: 3.5vh;
    width: 60%;
    @media screen and (max-width:980px) {
        width: 90%;
    }
}

&__li2{
    list-style-type: none;
}

&__title {
    @include adaptiv-font(26,18);
    font-weight: 700;
    margin-bottom: 4vh;
    margin-top: 2vh;
    @media screen and (max-width:980px) {
        margin-bottom: 1vh;
    }
}



details[open] &__title {
    color: #0F2992;
    font-weight: 700;
}

&__line {
    margin: 1vh 0;
	padding: 0;
	height: 0;
	border: none;
	border-top: 1px solid #2C47B0;
    opacity: 0.4;
}
}


.vacancies-divEmail {
    @include adaptiv-font(24,18);
    margin-bottom: 7vh;
    line-height: 28.13px;
    font-weight: 600;
    @media screen and (max-width:980px) {
        margin-bottom: 4vh; 
        line-height: 21.6px;
    }
    .vacancies-link{
        @include adaptiv-font(24,18);
        margin-bottom: 7vh;
        line-height: 28.13px;
        font-weight: 600;
        @media screen and (max-width:980px) {
            margin-bottom: 4vh; 
            line-height: 21.6px;
        }
    }
}